<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Bliblioteca.Properties.Settings.FicharioConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Classes\Database\Fichario.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Bliblioteca.Properties.Settings.Be3ConnectionString"
            connectionString="Data Source=MATHEUS;Initial Catalog=Be3;Persist Security Info=True;User ID=sa;Password=1707"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>